<div class="start-info">
  <h2 class="start-title">Гайд для мам и пап Вильнюса</h2>
  <p class="start-text">
    Дорогие родители! Этот гайд составлен энтузиастами в помощь будущим или
    действующим мамам и папам маленьких детей в Вильнюсе. Нам очень хотелось сделать легче и понятнее прохождение бюрократических процедур в новой стране, так и возникла идея этого
    ресурса. Но, пожалуйста, имейте в виду, что это не официальный источник
    информации. Данные могут устареть, в текст могут невольно закрасться ошибки или неточности. Так что на всякий случай
    перепроверяйте полученную из гайда информацию.
  </p>
  <button mat-raised-button color="primary" class="add-info">
    <a href="https://t.me/welcomemomsbot" class="add-info" target="_blank"
      >Дополнить гайд</a
    >
  </button>
</div>

<div class="start-img">
  <img src="./../../../../assets/start-img.png" alt="start-img" />
</div>
