:host {
    .topics {
        border: none !important;
        border-radius: 24px !important;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1) !important;
        background: var(--block-bg) !important;
        width: 600px !important;
        &__content {
            padding: 16px 14px !important;
            border-radius: inherit !important;
        }
    }

    @media screen and (max-width: 599px) {
        .topics {
            width: 100% !important;
            background: var(--page-bg) !important;
            box-shadow: none !important;
            &__content {
                padding: 0 !important;
            }
        }
    }

    .card__header {
        padding-top: 20px;
        padding-bottom: 20px;
        z-index: 1000;
    }

    ::ng-deep .mat-drawer-inner-container {
        scrollbar-width: none;
        overflow: visible;
    }

    .title {
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: var(--text-base-color);
    }

    .menu {
        right: 24px;
        &_closed {
            top: 30px;
            span {
                width: 14px;
                border-radius: 2px;
                background-color: var(--text-secondary-color);
                height: 2px;
                transform: scale(1);
            }
            &::after,
            &::before {
                content: "";
                position: absolute;
                width: var(--xl);
                height: 2px;
                background-color: var(--text-secondary-color);
                border-radius: 2px;
                transition: all 0.3s ease 0s;
            }
            &::before {
                width: 18px;
                top: -8px;
            }
            &::after {
                width: 10px;
                bottom: -8px;
            }
        }
        &_opened {
            right: 2px;
            top: 21px;
        }
    }

    .list {
        list-style: none;
        &__item {
            font-weight: 300;
            font-size: 18px;
            line-height: 23px;
            text-decoration: none;
            padding-top: 20px;
            padding-bottom: 20px;
            &:not(:last-child) {
                border-bottom: 1px solid var(--border);
            }
            .isActive {
                font-weight: 600;
            }
        }

        .topic__title {
            color: var(--text-base-color);
            max-width: 90%;
        }
    }

    @media screen and (max-width: 599px) {
        .list {
            max-height: 80vh;
        }

        .sidenav {
            top: 160px !important;
            background: var(--page-bg);
            border-top: 0.5px solid var(--text-base-color);
        }

        ::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
            background-color: transparent;
        }
    }
}
