
  <p class="text">Отправьте подписанное заявление в произвольной форме (что-то вроде <i>"прошу зачислить моего ребенка в один из нижеперечисленных детских садов..."</i> (можно перечислить максимум 5)) и копии паспортов и ВНЖ (или виз, если у вас нет ВНЖ) на savivaldybe@vilnius.lt. Заявка будет зарегистрирована в системе, вам пришлют номер заявки и ссылку, по которой можно будет проверять ее статус.
      </p>
  <p class="text"><a href="https://www.e-tar.lt/portal/legalAct.html?documentId=43d97f90623c11eca9ac839120d251c4" target="_blank" class="link">Нормативный акт</a> о порядке приема в детские сады Вильюса.</p>
  <p class="text">Еще о том, как подать заявление в сад, если у вас нет ВНЖ, а только виза D, смотрите <a href="https://teletype.in/@zhiznvlitve/VilniusKindergartens" target="_blank" class="link">тут</a>.</p>
  <p class="text">А <a href="https://www.youtube.com/watch?v=OqTApHpEZzI&t=1697s" target="_blank" class="link">вот тут</a> еще видео при детские сады Вильнюса.</p>
