:host {
    height: 90px;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    width: 100%;

    .header {
        border-top: 2px solid var(--border);
        justify-content: flex-end;
    }

    p {
        font-size: 14px;
    }

    .link_thankyou {
        position: absolute;
        transform: translateX(-50%);
    }

    .link {
        text-decoration: none;
    }
}

@media screen and (max-width: 780px) {
    :host {
        height: 150px;
        .header {
            justify-content: center;
            gap: 1rem;
        }
        .link_thankyou {
            position: static;
            transform: none;
        }
    }
}
