
  <p class="text"><a href="https://www.instagram.com/educationkids_vilnius/?hl=en" target="_blank" class="link">Комплекс</a> развивающих занятий для детей с 3 лет и старше+ английский язык, рисование и опыты с 3лет и старше, английский язык с 3 лет и старше, познавательное рисование с 3 лет и старше</p>
  <p class="text">Студия <a href="https://www.facebook.com/VilniusBelayaVorona" target="_blank" class="link">Belaya Vorona</a></p>
  <p class="text"><a href="https://kuriavaikai.lt" target="_blank" class="link">Занятия</a> по методике Монтессори для детей от 9 мес до 7 лет</p>
  <p class="text"><a href="https://familyacademy.lt/vilnius/" target="_blank" class="link">Family Lab Academy</a> Творческая студия для детей от 1 года и их родителей</p>
<p class="text">Различные программы есть в НеоЗебре, например, <a href="https://neozebra.com/study/pre-school/mama-and-kid/" target="_blank" class="link">такая</a></p>

<h6><b>Книги</b></h6>
 <p class="text">
  Книги можно брать в библиотеках. Почти во всех есть отделы для детей, там хорошие книги на украинском, русском, литовском, английском языках (и другие тоже есть). Там же есть детские уголки, где можно посидеть с малышом, почитать книги на месте. Чтобы записаться в районную библиотеку вам понадобится карточка ВНЖ. Читательский билет районные библиотеки оформляют бесплатно.
 </p>
 <p class="text">
  Очень классная Литовская Национальная библиотека. Там есть детская комната с бебиситтером (работает только в будни), с ним можно оставить ребенка старше 3-х лет на три часа.
 </p>
