:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 1000px;
    padding: 12px;

    ::ng-deep .title {
        margin-bottom: 0.5rem;
    }

    ::ng-deep .content {
        margin-bottom: 10px;
    }

    ::ng-deep ul,
    ol {
        margin-bottom: 0;
    }

    ::ng-deep {
        img {
            max-width: 100%;
        }
    }

    h4,
    ::ng-deep .title {
        font-size: 1.2rem;
    }
    ::ng-deep .content h5 {
        font-size: 1.125rem !important;
    }
}

.container {
    max-width: 300px;
    &__title {
        font-size: 15px;
        font-weight: 600;
        line-height: 23px;
    }
}

ul {
    list-style-type: disc;
}
