.navigation-container {
    display: flex;
    flex-direction: column;
    &:has(.active-link) {
        &>a:not(.active-link) {
            display: none;
        }
    }
}

.active-link {
    font-weight: bold;
}
