<h2>Вы можете наблюдаться по беременности:</h2>
  <p class="text">1. В любой государственной поликлинике</p>
<p class="text">
  Если вы официально работаете и платите налоги в Литве, вы застрахованы в Содре, то
  есть медобслуживание в государственных поликлиниках (и некоторых частных, см.
  список
  <a href="https://vilniusmama.vercel.app/birth/clinic" class="link">тут</a>)
  для вас бесплатно.
</p>
<p class="text">
  Если нет - стоимость приема от 20 до 100 евро, в зависимости от клиники +
  иногда анализы надо оплачивать отдельно. В государственной поликлинике цена
  обычно ниже, чем в частной клинике.
</p>
<p class="text">
  Если вы не работаете и не имеете страховку в Содре, вы можете оформить Individualią Veikla и
  ежемесячно оплачивать в Содру взносы (c января 2023 г. ежемесячный взнос составляет 58,63 евро).
  В этом случае медобслуживание будет бесплатным.
</p>
<p class="text">
  Как оформить Individualią Veikla, смотрите
  <a
    href="https://vilniusmama.vercel.app/pregnancy/insurance/veikla"
    class="link"
    >тут</a
  >.
</p>
<p class="text">
  2. В женской консультации при любом государственном роддоме
</p>
<p class="text">Стоимость составляет около 40 евро в месяц (приемов может быть больше, чем один в месяц,
но взнос оплачивается раз в месяц).</p>
  <p class="text">Вас поставят на учет в 12 недель, до этого срока врачи могут только
    подтвердить беременность. В поликлиниках и в роддомах бесплатно делают стандартные анализы (кровь, моча). Иногда платно предлагают сдать анализы на витамин D и токсоплазмоз (стоимость около 50 евро за анализ).
  УЗИ в течение беременности делают трижды. Если беременная старше 35 лет или ее супруг старше 42 лет, то на 12-й неделе ее
   бесплатно направят на консультацию и эхоскоп к генетику. На сроке 24-28 недель вам предложат пероральный глюкозотолерантный тест (ПГТТ). С 30-й недели можно уходить на больничный по беременности и родам.
</p>
<p class="text">3. В частной клинике (только платно)</p>
<p class="text">
  Родить можно в любом роддоме, вне зависимости от выбранного варианта
  наблюдения.
</p>
