<h2>Привет, родители!</h2>

<p class="text">
  Вы пользуетесь этим сайтом, делитесь ссылкой на него,
  рекомендуете друзьям — спасибо большое!
  Если у вас есть идеи, как можно улучшить гайд,
  если вы сами — детский специалист, пожалуйста,
  пишите в <a href="https://t.me/welcomemomsbot" class="link" target="_blank">бот</a>,
   будем делать гайд вместе.
</p>
<p class="text">
  А ещё — я ищу работу. Могу  делать простые и сложные сайты,  веб-приложения, разрабатывать на Angular и React.
  В интересный и полезный проект с радостью впишусь за опыт.
</p>
