<p class="text">Район: Naujamiestis</p>

<div class="plgd-container">
  <img
    class="playgrnd"
    src="./../../../../assets/toddler-imgs/playgroungs/DJI_0194_1-2048x1534.jpeg"
    alt="playgrnd"
  />

  <p class="text">
    Где:
    <a href="https://goo.gl/maps/BXoci7Mh4dZDLzEU6" class="link"
      >Amatų skveras</a
    >
  </p>
</div>

<div class="plgd-container">
  <img
    class="playgrnd"
    src="./../../../../assets/toddler-imgs/playgroungs/Vingio-parko-aikstele-04.jpeg"
    alt="playgrnd"
  />
  <p class="text">
    Где:
    <a href="https://goo.gl/maps/WnSceFqeKTmRXN5y9" class="link">Vingis park</a>
  </p>
</div>
<div class="plgd-container">
  <img
    class="playgrnd"
    src="./../../../../assets/toddler-imgs/playgroungs/reformatu.jpeg"
    alt="playgrnd"
  />

  <p class="text">
    Где:
    <a href="https://goo.gl/maps/qGj2JNduM9tGnDQeA" class="link"
      >Сквер реформаторов</a
    >
  </p>
</div>
<div class="plgd-container">
  <img
    class="playgrnd"
    src="./../../../../assets/toddler-imgs/playgroungs/Bernardino.jpeg"
    alt="playgrnd"
  />

  <p class="text">
    Где:
    <a href="https://goo.gl/maps/no2NJNZRF7wawTSx5" class="link"
      >Бернардинский сад</a
    >
  </p>
</div>

<p class="text">Район: Šeškinė</p>

<div class="plgd-container">
  <p class="text">
    Где:
    <a href="https://goo.gl/maps/FDVTigiSX9uRWR816" class="link"
      >Рядом с ТЦ Акрополис</a
    >
  </p>
</div>
<!-- <div class="plgd-container">
  <img
    class="playgrnd"
    src="./../../../../assets/toddler-imgs/playgroungs/oon.jpeg"
    alt="playgrnd"
  />

  <p class="text">
    Где:
    <a href="https://goo.gl/maps/4awZv3RkcFop1nqn7" class="link"
      >Парк приключений ООН</a
    >
  </p>
</div> -->
<p class="text">Район: Šnipiškės</p>
<div class="plgd-container">
  <img
    class="playgrnd"
    src="./../../../../assets/toddler-imgs/playgroungs/balto-tilto-zaidimu-aikstele-1.jpeg"
    alt="playgrnd"
  />

  <p class="text">
    Где:
    <a href="https://goo.gl/maps/jisDuaibdCobrTPi7" class="link"
      >У Белого моста</a
    >
  </p>
</div>
<div class="plgd-container">
  <img
    class="playgrnd"
    src="./../../../../assets/toddler-imgs/playgroungs/drakon.jpeg"
    alt="playgrnd"
  />

  <p class="text">
    Где:
    <a href="https://goo.gl/maps/LNQVRYyBeJNbuu6Y6" class="link"
      >Драконий Луг</a
    >
  </p>
</div>
<div class="plgd-container">
  <img
    class="playgrnd"
    src="./../../../../assets/toddler-imgs/playgroungs/japan.jpeg"
    alt="playgrnd"
  />

  <p class="text">
    Где:
    <a href="https://goo.gl/maps/MyCcEmiU3nTp4rMg9" class="link"
      >Японский сад</a
    >
  </p>
</div>
<div class="plgd-container">
  <p class="text">
    Где:
    <a href="https://goo.gl/maps/u1rt59ophL2EaU56A" class="link"
      >Площадка на Linkmenų</a
    >
  </p>
</div>
<div class="plgd-container">
  <p class="text">
    Где:
    <a href="https://goo.gl/maps/kvQkG3FaNen71wBz6" class="link"
      >Площадка на пр. Конституции</a
    >
  </p>
</div>
