<p class="text question">Кто имеет право получать эту выплату?</p>
<p class="text">Граждане, обладатели ПМЖ или обладатели ВНЖ, имеющие детей до 18 лет (в определенных случаях до 23 лет).</p>
<p class="text">Если родители являются обладателями ВНЖ,
      то для оформления этой выплаты у ребенка
      также должен быть ВНЖ и задекларированное место жительства в Литве
      (исключение - иностранные граждане, которые живут в Литве по временной защите.
      Их детям не обязательно иметь декларацию для оформления этой выплаты). Подробнее см. <a href="https://vilniusmama.vercel.app/pregnancy/benefits" class="link">тут</a>.</p>

<p class="text">Размер выплаты в 2023 г. - 85,75 евро.</p>


<p class="text">Если у ребенка задекларировано место жительства, пособие можно оформить онлайн, иначе надо идти в местное самоуправление или на пр. Конституции, 3.
</p>

<p class="card-title">Как оформить детские деньги через сайт www.spis.lt:</p>

<ol>
  <li class="text">1. Авторизуйтесь на сайте <a href="https://www.spis.lt" class="link">www.spis.lt</a> с использованием Smart ID или Mobile ID
  </li>
  <li class="text">2. Нажмите на свое имя и выберите <i>Nustatymai</i> (настройки), заполните форму, добавив контактные данные и реквизиты счета и нажмите <i>išsaugoti</i> (сохранить)
  </li>
  <li class="text">3. На главной странице выберите <i>Naujas pažymas</i> (новое заявление) ->  <i>Piniginės išmokos</i> (денежные пособия) -> <i>Išmokos vaikui skyrimas (SP-3A(1))</i> (начисление алиментов) и нажмите <i>Toliau</i> (далее)
  </li>
  <li class="text">4. В открывшейся таблице вы найдете данные своего ребенка. Если этих данных нет, нажмите <i>pridėti vaiką</i> (добавить ребенка). Добавьте его имя, asmens kodas, задекларированный адрес места жительства. Нажмите <i>Toliau</i> (далее)
  </li>
  <li class="text">5. Заполните открывшуюся форму
  </li>
  <li class="text">6. Нажмите <i>Pridėti dokumentus</i> (добавить документы) и загрузите скан или фотографии карточек ВНЖ (вашей и вашего ребенка) с обеих сторон
  </li>
  <li class="text">7. Нажмите <i>Pateikti</i> (отправить на рассмотрение)
  </li>
</ol>
