.menu {
    display: flex;
    justify-self: end;
}

.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.example-tree .mat-nested-tree-node div[role="group"] {
    padding-left: 40px;
}

.example-tree .mat-tree-node .mat-mdc-button {
    flex: 1;
    justify-content: start;
}
