<h2>Вы можете наблюдаться по беременности:</h2>
  <p class="text">1. В любой государственной поликлинике</p>
  <p class="text">
    Наблюдение по беременности и роды для граждан Украины, находящихся в Литве под
    временной защитой, как и экстренная медицинская помощь, бесплатны
    <a
      href="https://www.e-tar.lt/portal/lt/legalAct/bd432a5099a211ec8d04d3fbbc911715/asr"
      target="_blank"
      class="link"
      >(нормативный акт об этом),</a
    >
    при условии наличия листка А4 (вам его дадут в Департаменте Миграции в тот же
    день, когда подадите документы на ВНЖ).
  </p>
  <p class="text">
    2. В женской консультации при любом государственном роддоме
  </p>
<p class="text">Стоимость составляет около 40 евро в месяц (приемов может быть больше, чем один в месяц,
  но взнос оплачивается раз в месяц).</p>
  <p class="text">Вас поставят на учет в 12 недель, до этого срока врачи могут только
    подтвердить беременность. В поликлиниках и в роддомах бесплатно делают стандартные анализы (кровь, моча). Иногда платно предлагают сдать анализы на витамин D и токсоплазмоз (стоимость около 50 евро за анализ).
    УЗИ в течение беременности делают трижды. Если беременная старше 35 лет или ее супруг старше 42 лет, то на 12-й неделе ее
     бесплатно направят на консультацию и эхоскоп к генетику. На сроке 24-28 недель вам предложат пероральный глюкозотолерантный тест (ПГТТ). С 30-й недели можно уходить на больничный по беременности и родам.
  </p>

<p class="text">3. В частной клинике (только платно)</p>
<p class="text">
  Родить можно в любом роддоме, вне зависимости от выбранного варианта
  наблюдения.
</p>
