<a
  href="https://e-seimas.lrs.lt/portal/legalAct/lt/TAD/77e316705f2211eb9954cfa9b9131808?jfwid"
  target="_blank"
  class="link"
  >Нормативный акт по всем выплатам на детей</a
>

<details>
  <summary class="card-title">Единовременное пособие беременной женщине</summary>
  <p class="text question">Кто имеет право получить?</p>
  <ul>
    <li class="text">1. Граждане ЛР</li>
    <li class="text">2. Обладатели ПМЖ Литвы </li>
    <li class="text">3. Иностранне граждане, которым предоставлено убежище в ЛР (то есть украинские мамы имеют право)</li>
    <li class="text">4. Граждане некоторых других стран (ЕС, Австралии, Японии и т.д., подробнее смотри в законе)</li>
  </ul>
  <p class="text">Пособие выплачивается тогда, когда женщина не имеет права на получение пособия по материнству (о нем ниже)</p>
  <p class="text question">Сколько?</p>
<p class="text">270,06 евро в 2023 г.</p>

<p class="text question">Когда обращаться за выплатой?</p>
<p class="text">Выплата назначается за 70 календарных дней до ПДР.</p>
<p class="text question">Какие документы нужны?</p>
<p class="text">Справка от доктора, который ведет беременность (это
  платно, около 10 евро). Справка из «Sodra», удостоверяющая, что вам не назначено и не выплачивается пособие по материнству.</p>
<p class="text question">Куда обращаться за выплатой?</p>
<p class="text">В муниципалитет согласно месту, в котором вы декларировали свое проживание или на пр. Конституции, 3.</p>
<p class="text important">Официальный источник: статья 10 <a href="https://e-seimas.lrs.lt/portal/legalAct/lt/TAD/77e316705f2211eb9954cfa9b9131808?jfwid" class="link">Закона о выплатах на детей</a></p>
</details>

<details>
  <summary class="card-title">Единовременная выплата на ребенка (пособие при рождении ребенка)</summary>
  <p class="text question">Кто имеет право получить?</p>
  <ul>
    <li class="text">1. Граждане ЛР</li>
    <li class="text">2. Обладатели ПМЖ Литвы </li>
    <li class="text">3. Иностранные граждане, которым предоставлено убежище в ЛР (то есть украинские мамы имеют право)</li>
    <li class="text">4. Граждане некоторых других стран (ЕС, Австралии, Японии и т.д., подробнее смотри в законе)</li>
  </ul>
  <p class="text question">Сколько?</p>
  <p class="text">506 евро в 2023 г.</p>
  <p class="text question">Когда обращаться за выплатой?</p>
  <p class="text">После регистрации рождения ребенка в ЗАГСе и после декларации его места жительства в Литве, но не позднее чем в течение одного года с момента рождения ребенка</p>
  <p class="text question">Куда обращаться за выплатой?</p>
  <p class="text">www.spis.lt. или отдел социальной защиты по месту проживания</p>
  <p class="text question">Где еще почитать об этом?</p>
  <p class="text"><a
    href="https://www.renkuosilietuva.lt/ru/edinovremennoe-posobie-pri-rozhdenii-rebenka-/"
    target="_blank"
    class="link"
    >Тут, например</a
  ></p>
  <p class="text important">Официальный источник: статья 5 <a href="https://e-seimas.lrs.lt/portal/legalAct/lt/TAD/77e316705f2211eb9954cfa9b9131808?jfwid" class="link">Закона о выплатах на детей</a></p>
</details>

<details>
  <summary class="card-title">Пособие по материнству</summary>
  <p class="text question">Кому имеет право получить?</p>
  <p class="text">Ваш стаж составляет не менее 12 месяцев за последние 24 месяца, и ваше последнее место работы в Литве. Из некоторых стран стаж можно "переносить"</p>
  <p class="text">Самозанятые могут получать, если они уплачивали взносы на социальное страхование по материнству за последний период, указанный в Законе о государственном социальном страховании.</p>
    <p class="text question">Сколько?</p>
    <p class="text">77,58 % от средней зп за последний год. Минимум  294 евро (минус налог 21%)</p>
    <p class="text">Выплачивается сразу же за весь период декретного отпуска.</p>
    <p class="text question">Когда выплачивается?</p>
    <p class="text">После 30-й недели беременности, когда вы уйдете в декретный отпуск. Обратитьза за выплатой следует не позднее 12 месяцев после окончания декретного отпуска. Если Ваш период декретного отпуска охватывает месяцы двух разных лет, есть нюансы, ознакомьтесь с ними по ссылке ниже. </p>
    <p class="text important">Официальная и очень подробная информация по этой <a href="https://www.sodra.lt/ru/situatsii/informatsiaa-dlya-zastrahovannjyh-lits/ya-hochu-poluchat-j-posovie-po-materinstvu-ottsovstvu-ili-po-soderzhaniyu-rebenka/ya-zhdu-revenka-posovie-po-materinstvu?lang=ru" class="link">ссылке</a></p>
</details>

<details>
  <summary class="card-title">Пособие по уходу за ребенком рожденному до 31 декабря 2022 года</summary>
  <p class="text question">Кто имеет право получать?</p>
  <p class="text">Родитель, который уходит в отпуск по уходу за ребенком (в первый год его жизни, во второй год - в отпуск уходить не обязательно). Причем получать это пособие мама или папа (бабушка/дедушка) могут поочередно. Родитель должен иметь как минимум 12 месяцев стажа за последние 24 месяца и последнее место работы должно быть в Литве. Из некоторых стран стаж можно "переносить".</p>
  <p class="text">Самозанятые могут получать, если они уплачивали взносы на социальное страхование по материнству за последний период, указанный в Законе о государственном социальном страховании.</p>
  <p class="text">Возможно, понадобится справка из страны вашего гражданства о том, что там мама и папа не получают эту выплату (это уточняйте в Содре)</p>
  <p class="text question">Сколько?</p>
  <p class="text">Если выбираете получать пособие до исполнения ребенку года - 77,58 % от средней зп за последние 12 месяцев.</p>
    <p class="text">Если выбираете получать пособие до двухлетнего возраста -  до достижения ребенком возраста одного года выплачивается 54,31 %, затем до достижения ребенком двухлетнего возраста - 31,03 % от зп.</p>
    <p class="text">Минимальный размер в 2023 г. - 294 евро (минус налог 21%)</p>
    <p class="text">Максимальный размер - ?</p>
    <p class="text">Пособие платится до исполнения 18 или 24 месяцев ребенку, но с момента окончания предыдущих выплат (по беременности и родам).</p>
  <p class="text">Пособие выплачивается, пока ребенку не исполнится один или два года. Причем, если принято решение о получении пособия до достижения ребенком двухлетнего возраста, на втором году жизни ребенка мама (папа/бабушка/дедушка) <b>имеет право выйти на работу и получать доход,</b> при этом пособие сохраняется, его размер не уменьшается.</p>
  <p class="text">При рождении двух или более детей оба родителя могут взять отпуск по уходу за ребенком и получать пособия по уходу за ребенком на каждого ребенка.</p>
<p class="text important">Официальная и очень подробная информация по этой <a href="https://www.sodra.lt/ru/situatsii/informatsiaa-dlya-zastrahovannjyh-lits/ya-hochu-poluchat-j-posovie-po-materinstvu-ottsovstvu-ili-po-soderzhaniyu-rebenka/hochu-uhazhibat-j-za-revenkom-posobie-po-uhodu-za-rebenkom?lang=ru" class="link">ссылке</a></p>
</details>

<details>
  <summary class="card-title">Пособие по уходу за ребенком, рожденному после 1 января 2023 года</summary>
  <p class="text question">Кто имеет право получать?</p>
  <p class="text">Родитель (или же бабушка/дедушка), которому предоставлен отпуск по уходу за ребенком. С 2023 года оба родителя имеют право взять как минимум 2 месяца отпуска по уходу за ребенком (эти два месяца называются непередаваемыми),
    а остальное время может быть разделено в соответствии с потребностями семьи.
    За два маминых месяца только мама может получать пособие и за два папиных - только папа, при этом им обязательно находиться в декретном отпуске (но не одновременно).
     Непередаваемые месяцы можно использовать гибко, т.е. воспользоваться месяцем или днями,
     а через несколько месяцев использовать оставшийся месяц или дни. Если отец не пойдет в отпуск до исполнения 3-х лет ребенку - за эти два месяца пособие теряется.
     Если вы мать-одиночка официально - тогда все 4 месяца ваши.</p>
     <p class="text">Пособие может быть предоставлено самозанятым лицам, но для этого они должны быть застрахованы по линии социального страхования материнства (что это - я не знаю, узнавайте в содре) </p>
  <p class="text question">Сколько?</p>
  <p class="text">Непередаваемые месяцы - 78% (два месяца для мамы и два месяца для папы).</p>
  <p class="text">Если декретный отпуск оформлен до исполнения 18 месяцев ребенку, то весь срок 60% от средней зп за последний год. Если до исполнения 24 месяцев - то до года 45%, с года до двух лет - 30%.
    С двух до трех лет - без пособий. Пособия облагаются налогом в 21%</p>
  <p class="text">Минимальный размер в 2023 г. - 294 евро</p>
  <p class="text">Максимальный размер - ?</p>
  <p class="text">Пособие платится до исполнения 18 или 24 месяцев ребенку, но с момента окончания предыдущих выплат (по беременности и родам).</p>
  <p class="text important">Официальная и очень подробная информация по этой <a href="https://www.sodra.lt/ru/situatsii/informatsiaa-dlya-zastrahovannjyh-lits/ya-hochu-poluchat-j-posovie-po-materinstvu-ottsovstvu-ili-po-soderzhaniyu-rebenka/hochu-poluchat-j-posovie-po-uhodu-za-revenkom-rozhdennjym-usjynoblennjym-posle-1-aanbaraa-2023-goda?lang=ru" class="link">ссылке</a></p>
</details>

<details>
<summary class="card-title">Пособие по отцовству на ребенка, рожденного до 31 декабря 2022 года</summary>
<p class="text question">Кто имеет право получать?</p>
<p class="text">Если вы официально трудоустроены и накопили не менее 12 месяцева стажа социального страхования по материнству за последние 24 месяца.</p>
<p class="text question">Сколько?</p>
<p class="text"> 77,58 % от зп за последние 12 месяцев</p>
<p class="text">Пособие по отцовству выплачивается за период отпуска по уходу за ребенком (максимум 30 календарных дней).
  Этот отпуск предоставляется в любое время с момента рождения ребенка до достижения им возраста одного года.</p>
  <p class="text important">Официальная и очень подробная информация по этой <a href="https://www.sodra.lt/ru/situatsii/informatsiaa-dlya-zastrahovannjyh-lits/ya-hochu-poluchat-j-posovie-po-materinstvu-ottsovstvu-ili-po-soderzhaniyu-rebenka/rodilsaa-revenok-posovie-po-ottsovstvu?lang=ru" class="link">ссылке</a></p>
</details>


<details>
  <summary class="card-title">Выплата на ребенка</summary>
  <p class="text question">Кто имеет право получать?</p>
<p class="text">Родитель, который удовлетворяет хотя бы одному требованию:</p>
<ul>
  <li class="text">1. Является гражданином ЛР</li>
  <li class="text">2. Обладает ПМЖ Литвы </li>
  <li class="text">3. Является держителем blue-card (у ребенка при этом должен быть ВНЖ и декларация места жительства)</li>
  <li class="text">4. Обладает ВНЖ с правом работы и проработал не менее 6 месяцев, за исключением учебных ВНЖ (у ребенка при этом должен быть ВНЖ и декларация места жительства)</li>
  <li class="text">5. Является иностранным гражданином, которому <b>предоставлено убежище</b> в ЛР (то есть украинским мамам положена)</li>
  <li class="text">6. Является гражданином некоторых других стран (ЕС, Австралии, Японии и т.д., подробнее смотри в законе)</li>
</ul>
<p class="text">Если вы не подали документы на эту выплату сразу, как у вас появилось на нее право, не переживайте - пособие на ребенка может быть выплачено задним числом, но не более чем за предыдущие 12 месяцев текущего года.</p>

<p class="text">Выплачивается на каждого ребенка до 18 лет (при определенных условиях до 23 лет)</p>
  <p class="text question">Сколько?</p>
<p class="text">85,75 евро в 2023 г.</p>

<p class="text question">Когда начисляется?</p>
<p class="text">Ежемесячно с 10 по 20 число за предыдущий месяц</p>
<p class="text"><a href="https://vilniusmama.vercel.app/toddler/kids-money" class="link">Инструкция</a> по оформлению через систему spis</p>
<p class="text question">Что еще почитать об этом?</p>
<p class="text"> <a href="https://www.renkuosilietuva.lt/ru/posobie-na-rebenka/" class="link">Ссылка</a></p>
  <p class="text important">Официальный источник: статья 6 <a href="https://e-seimas.lrs.lt/portal/legalAct/lt/TAD/77e316705f2211eb9954cfa9b9131808?jfwid" class="link">Закона о выплатах на детей</a></p>
</details>

<details>
  <summary class="card-title">Какие еще есть выплаты?</summary>
  <ul>
    <li class="text">дополнительная выплата на ребенка (малообеспеченным семьям);</li>
    <li class="text">выплата при одновременном рождении более одного ребенка;</li>
    <li class="text">выплата по уходу за ребенком лица, обучающегося в средних специальных и высших учебных заведениях;</li>
    <li class="text">выплата за временный надзор за ребенком;</li>
    <li class="text">единовременная выплата для обустройства;</li>
    <p class="text important">Обо всех них и некоторых других ищите информацию в <a href="https://e-seimas.lrs.lt/portal/legalAct/lt/TAD/77e316705f2211eb9954cfa9b9131808?jfwid" class="link">Законе</a> и в других официальных источниках</p>
  </ul>
</details>
