<p class="text">Если вы официально работаете и платите налоги в Литве, вы застрахованы в Содре, то есть медобслуживание (в том числе роды) для вас бесплатно.</p>
<p class="text">
  Если нет - от 500 до 2500 евро в зависимости от сложности родов.
  Стоимость родов оплачивается в кассе роддома в день выписки.</p>

  <p class="text">Если вы не работаете и не имеете страховку в Содре, вы можете оформить Individualią Veikla и
    ежемесячно оплачивать в Содру взносы (c января 2024 г. ежемесячный взнос составляет 64,50 евро). В этом случае роды будут бесплатными.</p>

    <p class="text">
      Как оформить Individualią Veikla, смотрите
      <a
        href="https://vilniusmama.vercel.app/pregnancy/insurance/veikla"
        class="link"
        >тут</a
      >.
