/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "bootstrap";

body {
    background: var(--page-bg);
    font-family: var(--ff);
    color: var(--text-base-color);
    min-height: 100vh;
    height: auto;
    position: relative;
    min-width: 100%;
}

:root {
    // Fonts
    --ff:
        "Roboto Flex", -apple-system, "BlinkMacSystemFont", system-ui, "Roboto",
        "Segoe UI", "Helvetica Neue", sans-serif;

    // Backgrounds
    --primary: #dddaf5;
    --page-bg: linear-gradient(90deg, #fbfbfb 0%, #faf3fc 100%);
    --block-bg: #f9fafd;
    --border: #f0f0ff;

    // Font
    --text-base-color: #170c58;
    --text-secondary-color: #000;
}

.icon {
    color: var(--text-secondary-color);
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content > *:last-child {
    flex-grow: 1;
}

.mat-drawer-content {
    width: 100%;
    display: flex !important;
    justify-content: center;
}
.mat-drawer {
    width: 100% !important;
}
.mat-mdc-progress-spinner {
    z-index: 100;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mat-drawer {
    box-shadow: none !important;
}
.mat-drawer-container {
    background-color: var(--page-bg) !important;
}

.mat-mdc-progress-spinner circle {
    stroke: var(--primary);
}

.mat-mdc-snack-bar-container {
    min-width: 200px !important;
    max-width: 470px !important;
    .mat-mdc-snackbar-surface {
        background-color: var(--primary) !important;
        color: var(--text-base-color) !important;
        min-width: unset !important;
        width: 100% !important;
    }

    @media screen and (max-width: 599px) {
        .mdc-snackbar__label {
            font-size: 14px !important;
        }
    }

    @media screen and (max-width: 420px) {
        .mdc-snackbar__label {
            font-size: 10px !important;
        }
    }
}

.mdc-tooltip__surface {
    background-color: var(--primary) !important;
    color: var(--text-base-color) !important;
    opacity: 0.9 !important;
}

.pointer {
    cursor: pointer !important;
}

h3 {
    font-weight: 600px;
    font-size: 18px;
    margin-bottom: 8px;
}
p,
li {
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}

a:hover {
    opacity: 0.8;
}

b,
strong {
    font-weight: bold;
}
a {
    text-decoration: underline;
    color: inherit;
}

@font-face {
    font-family: "Boli Cyrillic";
    src: url("/assets/fonts/MVBOLICY.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

// article styles

details summary {
    list-style: none;
    cursor: pointer;
    position: relative;
    padding-left: 1.2em;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary::before {
    content: "›";
    position: absolute;
    left: 0;
    transition: transform 0.2s ease;
}

details[open] summary::before {
    transform: rotate(90deg);
}
